body{
	background: white;
	font-family: sans-serif;

}

.nav-container {
	background-color: black;
	width: 100%;
	display: inline-block;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	margin-bottom:10px;
	padding-top: 10px;
	font-size: 0;
}

.mynav {
	width: 100%;
}

.title {
	display: inline-block;
	width: 19%;
	color: #5631b2;
	font-size: 20px;
	padding-left: 10px;
	text-align: center;
	cursor: pointer;
}

.jumbotron {
	margin-top: 30px;
	padding: 0;
	background-color: #5631b2;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

.jumbotron img {
	width: 100%;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
}

.birds-jumbo img {
	position: relative;

}

.my-name {
	position: absolute;
	top: 30%;
	right: 60%;
	color: white;
}

.my-name h2 {
color: black;
font-style: italic;
}

#skills {
	background-color: black;
	color: white;
}
.skills h1 {
	text-align: center;
	color: white;
}



.triangles-jumbo img {
	border-top: 1px #412B97 solid;
}

.circle-jumbo {
position: relative;
margin-top: 0;
}

.my-contact {
	position: absolute;
	top: 35%;
	left: 33%;
	color: black;
	text-align: center;
}

.my-contact h1 {
	color: white;
	font-size:30px;
}

.my-contact h2 {
	color: black;
	font-size: 25px;
}

.my-contact a {
	color: #fff;
}

.skills-container {
	width: 100%;
}

.my-skills {
	vertical-align: top;
	text-align: center;
	margin-right: 20px;
	width: 45%;
	display: inline-block;
}



.my-skills h1 {
	text-align: left;
	font-size: 30px;
}

.my-skills p {
	text-align: left;
}


.html-icon {
	text-align: center;
	font-size: 50px;

}



.about-me {
	vertical-align: top;
	background-color: #fff;
	display:inline-block;
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}

.about-me h1{
	color: black;
	text-align: center;
}

.about {
	color: black;
	vertical-align: top;
	width: 50%;
	display: inline-block;
	margin-left: 30%;
}

.about img {
	vertical-align: top;
	width: 30%;
	display: inline-block;
	border-radius: 50%;
}

.about p {
	width: 60%;
	display: inline-block;
}



.footer-container{
	width: 45%;
	display: inline-block;
}

.icon i {
	font-size: 30px;
	color: #fff;
	padding: 5px;
	cursor: pointer;
	display: inline-block;
	width: 20%
}

.icon p {
	width: 70%;
}

// @media screen and (min-width: 768px) {
// .nav-container {
// 	margin-bottom:10px;
// 	padding-top: 10px;
// }

@media screen and (min-width: 992px) {
.title {
	margin-bottom:10px;
	padding-top: 10px;
}
}
